# Pedido:
Reviews: sentiment analysis: 
'0' si es malo, 
'1' si es neutral y 
'2' si es positivo. 
Si ausente la reseña escrita, debe tomar el valor de 1.

developer
contenido free en %
año
cant items

user_id
dinero gastado
recomendación en %
cant de items

usuario
horas jugadas por género
año de lanzamiento
horas de juego acumuladas


mejor desarrollador
con más juegos recomendados
por usuario
por año

desarrollador 
reseñas positivas o negativas

ml: coseno de similitud
user-item(usuario): id_usuario y 5 juegos recomendados similares
item-item(producto): id_producto y 5 juegos recomendados similares

In [1]:
import pandas as pd

In [2]:
# Abrir archivo .csv a dataframe
df_1 = pd.read_csv("First_Game.csv", encoding = "latin-1")

In [3]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   genres     74837 non-null  object
 1   app_name   74837 non-null  object
 2   title      74837 non-null  object
 3   price      74837 non-null  object
 4   id         74837 non-null  int64
 5   developer  74837 non-null  object
 6   year       74837 non-null  object
 7   month      74618 non-null  object
 8   day        74391 non-null  object
dtypes: int64(1), object(8)
memory usage: 5.1+ MB

In [4]:
# Nombres de columnas
df_1.columns

Index(['genres', 'app_name', 'title', 'price', 'id', 'developer', 'year',
       'month', 'day'],
      dtype='object')

In [5]:
# Abrir archivo .csv a dataframe
df_2 = pd.read_csv("Second_Reviews.csv", encoding = "latin-1")

In [6]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             59305 non-null  object
 1   item_id             59305 non-null  int64
 2   recommend           59305 non-null  bool
 3   sentiment_analysis  59305 non-null  int64
 4   Fecha_final         59305 non-null  object
dtypes: bool(1), int64(2), object(2)
memory usage: 1.9+ MB

In [7]:
# Nombres de columnas
df_2.columns

Index(['user_id', 'item_id', 'recommend', 'sentiment_analysis', 'Fecha_final'], dtype='object')

In [8]:
# Abrir archivo .csv a dataframe
df_3 = pd.read_csv("Third_Items.csv", encoding = "latin-1")

In [9]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5153209 entries, 0 to 5153208
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   items_count       int64
 2   steam_id          int64
 3   item_id           int64
 4   item_name         object
 5   playtime_forever  int64
 6   playtime_2weeks   int64
dtypes: int64(5), object(2)
memory usage: 275.2+ MB

In [10]:
# Nombres de columnas
df_3.columns

Index(['user_id', 'items_count', 'steam_id', 'item_id', 'item_name',
       'playtime_forever', 'playtime_2weeks'],
      dtype='object')

In [11]:
# Consulta 1:    developer contenido free en % año cant items

# Unir de dataframe df_1: developer, price, id, year; df_3: items_count, user_id:
df_unido_1 = pd.merge(df_1[["developer", "price", "year", "id"]],
                      df_3[["user_id", "items_count", "item_name"]],
                      left_index=True, right_index=True)

In [12]:
# Ver info de nueva dataframe
df_unido_1.info() # 74 836 datos

<class 'pandas.core.frame.DataFrame'>
Index: 74837 entries, 0 to 74836
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   developer    74837 non-null  object
 1   price        74837 non-null  object
 2   year         74837 non-null  object
 3   id           74837 non-null  int64
 4   user_id      74837 non-null  object
 5   items_count  74837 non-null  int64
 6   item_name    74837 non-null  object
dtypes: int64(2), object(5)
memory usage: 4.6+ MB

In [13]:
df_unido_1

,developer,price,year,id,user_id,items_count,item_name
0,Kotoshiro,5.0,2018-01-01 00:00:00,761140,76561197970982479,277,Counter-Strike
1,Kotoshiro,5.0,2018-01-01 00:00:00,761140,76561197970982479,277,Team Fortress Classic
2,Kotoshiro,5.0,2018-01-01 00:00:00,761140,76561197970982479,277,Day of Defeat
3,Kotoshiro,5.0,2018-01-01 00:00:00,761140,76561197970982479,277,Deathmatch Classic
4,Kotoshiro,5.0,2018-01-01 00:00:00,761140,76561197970982479,277,Half-Life: Opposing Force
...,...,...,...,...,...,...,...
74832,Laush Dmitriy Sergeevich,2.0,2018-01-01 00:00:00,610660,13lazer,398,Rust
74833,Laush Dmitriy Sergeevich,2.0,2018-01-01 00:00:00,610660,13lazer,398,KickBeat Steam Edition
74834,"xropi,stev3ns",5.0,2017-01-01 00:00:00,658870,13lazer,398,State of Decay
74835,"xropi,stev3ns",5.0,2017-01-01 00:00:00,658870,13lazer,398,Call of Duty: Ghosts
74836,0,5.0,,681550,13lazer,398,Call of Duty: Ghosts - Multiplayer

In [14]:
# Consulta 2:  user_id dinero gastado recomendación en % cant de items

# Unir de dataframe df_1: price, id; df_3: items_count, user_id; df_2: recommend


df_unido_2 = pd.merge(df_unido_1[["price", "id", "user_id", "items_count", "item_name"]],
                      df_2[["recommend"]],
                      left_index=True, right_index=True)

In [15]:
# Ver info de nueva dataframe
df_unido_2.info()  # 59 305 datos

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 59304
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        59305 non-null  object
 1   id           59305 non-null  int64
 2   user_id      59305 non-null  object
 3   items_count  59305 non-null  int64
 4   item_name    59305 non-null  object
 5   recommend    59305 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 2.8+ MB

In [16]:
# Consulta 3:  usuario horas jugadas por género año de lanzamiento horas de juego acumuladas


# Unir de dataframe df_1: genres, year, id; df_3: playtime_forever, user_id


df_unido_3 = pd.merge(df_1[["genres", "year", "id"]],
                      df_3[["user_id", "playtime_forever"]],
                      left_index=True, right_index=True)

In [17]:
# Ver info de nueva dataframe
df_unido_3.info() # 74 836 datos

<class 'pandas.core.frame.DataFrame'>
Index: 74837 entries, 0 to 74836
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            74837 non-null  object
 1   year              74837 non-null  object
 2   id                74837 non-null  int64
 3   user_id           74837 non-null  object
 4   playtime_forever  74837 non-null  int64
dtypes: int64(2), object(3)
memory usage: 3.4+ MB

In [18]:
# Consulta 4:  mejor desarrollador con más juegos recomendados por usuario por año


# Unir de dataframe df_1: developer, year, id; df_2: recommend user_id


df_unido_4 = pd.merge(df_1[["developer", "year", "id"]],
                      df_2[["user_id", "recommend"]],
                      left_index=True, right_index=True)

In [19]:
# Ver info de nueva dataframe
df_unido_4.info()              # 59 305 datos

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   developer  59305 non-null  object
 1   year       59305 non-null  object
 2   id         59305 non-null  int64
 3   user_id    59305 non-null  object
 4   recommend  59305 non-null  bool
dtypes: bool(1), int64(1), object(3)
memory usage: 2.3+ MB

In [20]:
# Consulta 5:  desarrollador reseñas positivas o negativas sentiment_analysis


# Unir de dataframe df_1: developer, id; df_2: user_id, sentiment_analysis


df_unido_5 = pd.merge(df_1[["developer", "id"]],
                      df_2[["user_id", "sentiment_analysis"]],
                      left_index=True, right_index=True)

In [21]:
# Ver info de nueva dataframe
df_unido_5.info()    # 59 305 datos

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 59304
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   developer           59305 non-null  object
 1   id                  59305 non-null  int64
 2   user_id             59305 non-null  object
 3   sentiment_analysis  59305 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [23]:
# ML01:  coseno de similitud user-item(usuario): id_usuario y 5 juegos recomendados similares

# Unir de dataframe df_3: item_name, user_id; df_2: user_id, recommend


df_unido_ML01 = pd.merge(df_3[["item_name", "user_id"]],
                      df_2[["recommend"]],
                      left_index=True, right_index=True)

In [24]:
# Ver info de nueva dataframe
df_unido_ML01             # 59 304 datos

                                    item_name            user_id  recommend
0                              Counter-Strike  76561197970982479       True
1                       Team Fortress Classic  76561197970982479       True
2                               Day of Defeat  76561197970982479       True
3                          Deathmatch Classic  76561197970982479       True
4                   Half-Life: Opposing Force  76561197970982479       True
...                                       ...                ...        ...
59300                          Shadow Warrior          scroopy22       True
59301  Viscera Cleanup Detail: Shadow Warrior          scroopy22       True
59302        Ring Runner: Flight of the Sages          scroopy22       True
59303                                  Clickr          scroopy22       True
59304                           Borderlands 2          scroopy22       True

[59305 rows x 3 columns]

In [25]:
# Reducimos el data por una cuestión de espacio, pero sin que afecte la calidad de los datos
df_modelo5 = df_unido_ML01.sample(frac=0.05, random_state=1)

In [26]:
df_modelo5 # 2965 datos

                                     item_name             user_id  recommend
17279         Counter-Strike: Global Offensive   76561198092244787       True
209                                   PAYDAY 2   76561197970982479       True
39038            Theatre of War 2: Africa 1943             acorn13      False
36188                          Project Zomboid        diabeticfuck       True
43868            The Bureau: XCOM Declassified  maxpaynepillkiller      False
...                                        ...                 ...        ...
37744           Duke Nukem 3D: Megaton Edition     LightfootSword7       True
19473                                     LYNE           Magjiikal       True
51991                         Prison Architect          benjamin27       True
58929  Tomb Raider (VI): The Angel of Darkness   76561198083375450       True
39055                               Chantelise             acorn13       True

[2965 rows x 3 columns]

In [27]:
# ML02:  coseno de similitud item-item(producto): id_producto y 5 juegos recomendados similares

# Unir de dataframe df_3: user_id, item_id, item_name; df_2: user_id recommend item_id


df_unido_ML02 = pd.merge(df_3[["item_id", "item_name", "user_id"]],
                      df_2[["recommend"]],
                      left_index=True, right_index=True)

In [28]:
# Ver info de nueva dataframe
df_unido_ML02.info()      #    59 305 datos

<class 'pandas.core.frame.DataFrame'>
Index: 59305 entries, 0 to 59304
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   item_id    59305 non-null  int64
 1   item_name  59305 non-null  object
 2   user_id    59305 non-null  object
 3   recommend  59305 non-null  bool
dtypes: bool(1), int64(1), object(2)
memory usage: 1.9+ MB

In [29]:
# Reducimos el data por una cuestión de espacio, pero sin que afecte la calidad de los datos
df_modelo5_ML02 = df_unido_ML02.sample(frac=0.05, random_state=1)

In [30]:
df_modelo5_ML02 # 2965 datos

,item_id,item_name,user_id,recommend
17279,730,Counter-Strike: Global Offensive,76561198092244787,True
209,218620,PAYDAY 2,76561197970982479,True
39038,46340,Theatre of War 2: Africa 1943,acorn13,False
36188,108600,Project Zomboid,diabeticfuck,True
43868,65930,The Bureau: XCOM Declassified,maxpaynepillkiller,False
...,...,...,...,...
37744,225140,Duke Nukem 3D: Megaton Edition,LightfootSword7,True
19473,266010,LYNE,Magjiikal,True
51991,233450,Prison Architect,benjamin27,True
58929,225020,Tomb Raider (VI): The Angel of Darkness,76561198083375450,True
39055,70420,Chantelise,acorn13,True

In [31]:
# Guardar dfs para consultas en .csv
df_unido_1.to_csv("df_unido_1.csv", index=False)
df_unido_2.to_csv("df_unido_2.csv", index=False)
df_unido_3.to_csv("df_unido_3.csv", index=False)
df_unido_4.to_csv("df_unido_4.csv", index=False)
df_unido_5.to_csv("df_unido_5.csv", index=False)

df_modelo5.to_csv("df_unido_ML01.csv", index=False)
df_modelo5_ML02.to_csv("df_unido_ML02.csv", index=False)