In [2009]:
# Importar librerías necesarias:
import pandas as pd
import numpy as np
import re

In [2010]:
# Abrir archivos .csv a dataframe
df_1 = pd.read_csv("df_unido_1.csv", encoding = "latin-1")
df_2 = pd.read_csv("df_unido_2.csv", encoding = "latin-1")
df_3 = pd.read_csv("df_unido_3.csv", encoding = "latin-1")
df_4 = pd.read_csv("df_unido_4.csv", encoding = "latin-1")
df_5 = pd.read_csv("df_unido_5.csv", encoding = "latin-1")

Consulta 1: def developer( desarrollador : str ): Cantidad de items y porcentaje de contenido Free por año según empresa desarrolladora. Ejemplo de retorno:
Año	Cantidad de Items	Contenido Free
2023	50	27%
2022	45	25%
xxxx	xx	xx%

In [2011]:
# Ver nombres de columnas
df_1.columns

Index(['developer', 'price', 'year', 'id', 'user_id', 'items_count',
       'item_name'],
      dtype='object')

In [2012]:
# Reemplazar Free por 0:
df_1["price"] = df_1["price"].replace("Free", 0)

In [2013]:
# Convertir la columna 'fecha' a datetime
df_1["year"] = pd.to_datetime(df_1["year"], errors="coerce")

In [2014]:
# Extraer el año y reemplazar los valores nulos con cero
df_1["year"] = df_1["year"].dt.year.fillna(0)

In [2015]:
# Cambiar tipo de dato a entero
df_1["year"] = df_1["year"].astype("Int64")

In [2016]:
# Pasar price a flotante
df_1["price"] = pd.to_numeric(df_1["price"], errors="coerce")

In [2017]:
# Convierte la columna "developer" a tipo string (texto)
df_1["developer"] = df_1["developer"].astype(str)

In [2018]:
df_1.head(2)

,developer,price,year,id,user_id,items_count,item_name
0,Kotoshiro,5.0,2018,761140,76561197970982479,277,Counter-Strike
1,Kotoshiro,5.0,2018,761140,76561197970982479,277,Team Fortress Classic

In [2019]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   developer    74837 non-null  object
 1   price        74837 non-null  float64
 2   year         74837 non-null  Int64
 3   id           74837 non-null  int64
 4   user_id      74837 non-null  object
 5   items_count  74837 non-null  int64
 6   item_name    74837 non-null  object
dtypes: Int64(1), float64(1), int64(2), object(3)
memory usage: 4.1+ MB

In [2020]:
df_1["developer"].unique()

array(['Kotoshiro', 'Secret Level SRL', 'Poolians.com', ...,
       'Oscar Ortigueira LÃ\x83Â³pez,OrtiGames/OrtiSoft', 'INGAME',
       'Bidoniera Games'], dtype=object)

In [2021]:
# Data de Desarrollador
data_dev = df_1[["developer", "year", "items_count", "price"]].astype({"developer": str, "year": int, "items_count": int, "price": float})

In [2022]:
# Si el desarrollador es:
desarrollador_normalizado = "Secret Level SRL"

In [2023]:
# Valores sin espacio en developer
desarrollador_normalizado = data_dev["developer"].apply(lambda x: x.title().strip())

In [2024]:
# Filtramos por el desarrollador que se ingrese
filter_data_dev = data_dev[data_dev["developer"].str.lower() == desarrollador_normalizado]

In [2025]:
# Cantidad de items por año
items_year = data_dev.groupby("year")["items_count"].count().to_dict()

In [2026]:
# Calculamos la cantidad de contenido free por año
cantidad_free = data_dev[data_dev["price"] == 0.0].groupby("year")["items_count"].count().fillna(0).to_dict()

In [2027]:
# Se calcula el porcentaje free, redondeado a un decimal
porcentaje_free = {year: f"{(cantidad_free.get(year, 0) / items_year.get(year, 1)) * 100:.1f}%" for year in items_year}

Consulta 1: Al ingresar el nombre de un Desarrollador, resulta en Año, Cantidad de Items Free y %.

In [2028]:
# Primera Consulta:
def InfoDeveloper(desarrollador_normalizado : str):
    '''Al ingresar el nombre de un Desarrollador, la función devuelve el Año, la cantidad de items Free y el porcentaje de éste.'''

    # Filtramos por el desarrollador que se ingrese
    filter_data_dev = data_dev[data_dev["developer"].str.lower() == desarrollador_normalizado]
    # Cantidad de items por año
    items_year = data_dev.groupby("year")["items_count"].count().to_dict()
    # Calculamos la cantidad de contenido free por año
    cantidad_free = data_dev[data_dev["price"] == 0.0].groupby("year")["items_count"].count().fillna(0).to_dict()
    # Se calcula el porcentaje free, redondeado a un decimal
    porcentaje_free = {year: f"{(cantidad_free.get(year, 0) / items_year.get(year, 1)) * 100:.1f}%" for year in items_year}
    
    # Formato de salida en JSON
    output = {
            "Agnos": items_year,
            "Cantidad de items free": cantidad_free,
            "Porcentaje free por agno": porcentaje_free
            }
    return output

In [2029]:
InfoDeveloper("Secret Level SRL")

{'Agnos': {0: 2747,
  1970: 2,
  1975: 1,
  1980: 1,
  1981: 3,
  1982: 3,
  1983: 6,
  1984: 7,
  1985: 3,
  1986: 5,
  1987: 10,
  1988: 11,
  1989: 14,
  1990: 16,
  1991: 26,
  1992: 26,
  1993: 49,
  1994: 56,
  1995: 51,
  1996: 60,
  1997: 67,
  1998: 86,
  1999: 87,
  2000: 60,
  2001: 119,
  2002: 70,
  2003: 128,
  2004: 107,
  2005: 149,
  2006: 230,
  2007: 277,
  2008: 351,
  2009: 507,
  2010: 696,
  2011: 1034,
  2012: 2162,
  2013: 3090,
  2014: 6445,
  2015: 12407,
  2016: 17911,
  2017: 25352,
  2018: 392,
  2019: 10,
  2021: 3},
 'Cantidad de items free': {0: 1067,
  1981: 1,
  1990: 3,
  1991: 3,
  1993: 1,
  1994: 4,
  1995: 1,
  1996: 3,
  1997: 1,
  1998: 1,
  1999: 12,
  2001: 19,
  2002: 1,
  2003: 9,
  2004: 5,
  2005: 14,
  2006: 20,
  2007: 42,
  2008: 44,
  2009: 25,
  2010: 31,
  2011: 81,
  2012: 185,
  2013: 226,
  2014: 814,
  2015: 1587,
  2016: 1804,
  2017: 2284,
  2018: 173,
  2019: 4},
 'Porcentaje free por agno': {0: '38.8%',
  1970: '0.0%',
  1975: '0.0%',
  1980: '0.0%',
  1981: '33.3%',
  1982: '0.0%',
  1983: '0.0%',
  1984: '0.0%',
  1985: '0.0%',
  1986: '0.0%',
  1987: '0.0%',
  1988: '0.0%',
  1989: '0.0%',
  1990: '18.8%',
  1991: '11.5%',
  1992: '0.0%',
  1993: '2.0%',
  1994: '7.1%',
  1995: '2.0%',
  1996: '5.0%',
  1997: '1.5%',
  1998: '1.2%',
  1999: '13.8%',
  2000: '0.0%',
  2001: '16.0%',
  2002: '1.4%',
  2003: '7.0%',
  2004: '4.7%',
  2005: '9.4%',
  2006: '8.7%',
  2007: '15.2%',
  2008: '12.5%',
  2009: '4.9%',
  2010: '4.5%',
  2011: '7.8%',
  2012: '8.6%',
  2013: '7.3%',
  2014: '12.6%',
  2015: '12.8%',
  2016: '10.1%',
  2017: '9.0%',
  2018: '44.1%',
  2019: '40.0%',
  2021: '0.0%'}}

In [2030]:
InfoDeveloper("Laush Dmitriy Sergeevich")

{'Agnos': {0: 2747,
  1970: 2,
  1975: 1,
  1980: 1,
  1981: 3,
  1982: 3,
  1983: 6,
  1984: 7,
  1985: 3,
  1986: 5,
  1987: 10,
  1988: 11,
  1989: 14,
  1990: 16,
  1991: 26,
  1992: 26,
  1993: 49,
  1994: 56,
  1995: 51,
  1996: 60,
  1997: 67,
  1998: 86,
  1999: 87,
  2000: 60,
  2001: 119,
  2002: 70,
  2003: 128,
  2004: 107,
  2005: 149,
  2006: 230,
  2007: 277,
  2008: 351,
  2009: 507,
  2010: 696,
  2011: 1034,
  2012: 2162,
  2013: 3090,
  2014: 6445,
  2015: 12407,
  2016: 17911,
  2017: 25352,
  2018: 392,
  2019: 10,
  2021: 3},
 'Cantidad de items free': {0: 1067,
  1981: 1,
  1990: 3,
  1991: 3,
  1993: 1,
  1994: 4,
  1995: 1,
  1996: 3,
  1997: 1,
  1998: 1,
  1999: 12,
  2001: 19,
  2002: 1,
  2003: 9,
  2004: 5,
  2005: 14,
  2006: 20,
  2007: 42,
  2008: 44,
  2009: 25,
  2010: 31,
  2011: 81,
  2012: 185,
  2013: 226,
  2014: 814,
  2015: 1587,
  2016: 1804,
  2017: 2284,
  2018: 173,
  2019: 4},
 'Porcentaje free por agno': {0: '38.8%',
  1970: '0.0%',
  1975: '0.0%',
  1980: '0.0%',
  1981: '33.3%',
  1982: '0.0%',
  1983: '0.0%',
  1984: '0.0%',
  1985: '0.0%',
  1986: '0.0%',
  1987: '0.0%',
  1988: '0.0%',
  1989: '0.0%',
  1990: '18.8%',
  1991: '11.5%',
  1992: '0.0%',
  1993: '2.0%',
  1994: '7.1%',
  1995: '2.0%',
  1996: '5.0%',
  1997: '1.5%',
  1998: '1.2%',
  1999: '13.8%',
  2000: '0.0%',
  2001: '16.0%',
  2002: '1.4%',
  2003: '7.0%',
  2004: '4.7%',
  2005: '9.4%',
  2006: '8.7%',
  2007: '15.2%',
  2008: '12.5%',
  2009: '4.9%',
  2010: '4.5%',
  2011: '7.8%',
  2012: '8.6%',
  2013: '7.3%',
  2014: '12.6%',
  2015: '12.8%',
  2016: '10.1%',
  2017: '9.0%',
  2018: '44.1%',
  2019: '40.0%',
  2021: '0.0%'}}

In [2031]:
InfoDeveloper("Kotoshiro")

{'Agnos': {0: 2747,
  1970: 2,
  1975: 1,
  1980: 1,
  1981: 3,
  1982: 3,
  1983: 6,
  1984: 7,
  1985: 3,
  1986: 5,
  1987: 10,
  1988: 11,
  1989: 14,
  1990: 16,
  1991: 26,
  1992: 26,
  1993: 49,
  1994: 56,
  1995: 51,
  1996: 60,
  1997: 67,
  1998: 86,
  1999: 87,
  2000: 60,
  2001: 119,
  2002: 70,
  2003: 128,
  2004: 107,
  2005: 149,
  2006: 230,
  2007: 277,
  2008: 351,
  2009: 507,
  2010: 696,
  2011: 1034,
  2012: 2162,
  2013: 3090,
  2014: 6445,
  2015: 12407,
  2016: 17911,
  2017: 25352,
  2018: 392,
  2019: 10,
  2021: 3},
 'Cantidad de items free': {0: 1067,
  1981: 1,
  1990: 3,
  1991: 3,
  1993: 1,
  1994: 4,
  1995: 1,
  1996: 3,
  1997: 1,
  1998: 1,
  1999: 12,
  2001: 19,
  2002: 1,
  2003: 9,
  2004: 5,
  2005: 14,
  2006: 20,
  2007: 42,
  2008: 44,
  2009: 25,
  2010: 31,
  2011: 81,
  2012: 185,
  2013: 226,
  2014: 814,
  2015: 1587,
  2016: 1804,
  2017: 2284,
  2018: 173,
  2019: 4},
 'Porcentaje free por agno': {0: '38.8%',
  1970: '0.0%',
  1975: '0.0%',
  1980: '0.0%',
  1981: '33.3%',
  1982: '0.0%',
  1983: '0.0%',
  1984: '0.0%',
  1985: '0.0%',
  1986: '0.0%',
  1987: '0.0%',
  1988: '0.0%',
  1989: '0.0%',
  1990: '18.8%',
  1991: '11.5%',
  1992: '0.0%',
  1993: '2.0%',
  1994: '7.1%',
  1995: '2.0%',
  1996: '5.0%',
  1997: '1.5%',
  1998: '1.2%',
  1999: '13.8%',
  2000: '0.0%',
  2001: '16.0%',
  2002: '1.4%',
  2003: '7.0%',
  2004: '4.7%',
  2005: '9.4%',
  2006: '8.7%',
  2007: '15.2%',
  2008: '12.5%',
  2009: '4.9%',
  2010: '4.5%',
  2011: '7.8%',
  2012: '8.6%',
  2013: '7.3%',
  2014: '12.6%',
  2015: '12.8%',
  2016: '10.1%',
  2017: '9.0%',
  2018: '44.1%',
  2019: '40.0%',
  2021: '0.0%'}}

Consulta 2: def userdata( User_id : str ): Debe devolver cantidad de dinero gastado por el usuario, el porcentaje de recomendación en base a reviews.recommend y cantidad de items.
Ejemplo de retorno: {"Usuario X" : us213ndjss09sdf, "Dinero gastado": 200 USD, "% de recomendación": 20%, "cantidad de items": 5}

In [2032]:
# Revisamos nombres de columnas de la dataframe df_2:
df_2.columns

Index(['price', 'id', 'user_id', 'items_count', 'item_name', 'recommend'], dtype='object')

In [2033]:
# Verificamos sus columnas:
data_user = df_2[["price", "user_id", "recommend", "items_count"]]

In [2034]:
# Información de
data_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        59305 non-null  object
 1   user_id      59305 non-null  object
 2   recommend    59305 non-null  bool
 3   items_count  59305 non-null  int64
dtypes: bool(1), int64(1), object(2)
memory usage: 1.4+ MB

In [2035]:
# Cambiar dataframe con una columna 'price' a flotante y Free a 0 al mismo tiempo
data_user["price"] = data_user["price"].replace("Free", 0).astype(float)

C:\Users\56988\AppData\Local\Temp\ipykernel_15832\1922497046.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_user["price"] = data_user["price"].replace("Free", 0).astype(float)

In [2036]:
data_user["user_id"].unique()

array(['76561197970982479', 'js41637', 'evcentric', 'Riot-Punch', 'doctr',
       'MinxIsBetterThanPotatoes', 'NitemarePK', 'themanwich',
       'maplemage', 'corrupted_soul', 'jorellpogi', 'cadmusthreepointoh',
       '76561198064823719', 'MeaTCompany', '76561198089393905',
       '76561198156664158', '76561198077246154', '76561198070234207',
       'WeiEDKrSat', 'thequeenpanda', 'death-hunter',
       'turneddreamsintoanempire', 'DJKamBer', '76561198030389591',
       'Rainbow-Dashie', 'btuty8trgt', '76561198043472122',
       'MarbleShrine', 'fdcfelipefdc', 'bbaekhyun', 'Moomfina',
       'PPanther', 'ABSOLUTLY_NOTHING', 'devvonst', 'Fr0stedLine',
       '76561198058373434', '76561198048353577', '76561198072190369',
       '76561198066046412', 'tru_mu_', 'wirlom', '76561198070565427',
       'SavageEeEe', '76561198076909484', '76561198066908262',
       'KanadeTheNeko', 'Leaf_Light_Moscow', 'erickoiv', 'GoAwayZach',
       '76561198054540475', '76561198100701221', '76561198085547365',
       '76561198061252210', 'OfficialShroomsy', '76561198056147391',
       '8Bit-Ninja', '76561198071500702', '76561198099905030',
       '76561198047407223', 'latiano', 'kongtape', 'boydeer',
       '76561198100297613', 'VVillis', '76561198083226897',
       '76561198075277292', '76561198094630961', '12549',
       '76561198028895010', '76561198092411867', '76561198170198366',
       'diego9031', 'iampiepiepie', '76561198079863506', 'jarrodtrim',
       '76561198078738103', '76561198068964564', '76561198067936203',
       '76561198079770573', 'UpTheAss', '76561197977385164',
       '76561198075491015', '76561198087586464', '76561198086878953',
       'Derp-e', '76561198070194565', 'Rivtex', 'firefreddy', 'UTNerd24',
       'sandwiches1', '76561198093083895', '76561198138053270',
       '76561198062422084', 'Life-Of-Blu', 'CaptianAutismo', 'maxgp',
       'AppaTheSwagBison', 'knightboy991', '76561198034678103',
       '76561198075895633', 'TheDropix101', 'kube134',
       'iamthekingofbrowntown', 'MainScout', 'gdxsd', 'yookobz',
       'Posiblydead', 'Mossy_Gaming', '76561198093817084',
       '76561198102421718', '76561198079045885', '76561198087407319',
       '76561198074466513', 'damo131', '19702316748', 'FrystHjarte',
       '76561198056741844', 'sad-commie', '76561198030567998',
       'Coldaniel', 'therealmorty', 'itslonk', 'DeDroidUreLookin4',
       'Berserklejerker', '76561198088799241', '76561198061730629',
       'YoHuNz', 'possessioniskey', '76561198072732874',
       '76561198093112529', 'sevqu', '76561198060447950',
       'whiteofwolfing', '76561198056857968', 'sergarino', 'PyroCreed',
       '76561198052897627', '76561198081962345', '76561198039266268',
       '76561198094224872', '76561198073210139', 'Nozomikat',
       '76561198076933844', '76561198072186059', 'xfluttersx',
       '76561198068621601', '76561198056290589', 'ii_voltage_ii',
       '76561198097762318', 'Hirukaz', 'StelerForYou',
       '76561198183396245', 'otteloo', 'shinra420', 'Xx-Woods',
       'kevinator23', 'tonyballoney', '76561198090715178',
       'Child_Vs_Puddle', '76561198073784601', 'mimimomoma',
       '76561198102410011', 'de_Butl3r', '76561198157999555',
       '76561198027947401', 'Bluezap1', '76561198074200011', 'jonasdbomb',
       'L1J1N', 'Lord_Exploit', '76561198079106676', '76561198092244787',
       'Sanctus94', '76561197990792016', 'AVATAR715', '76561198073987767',
       'Fluxxyz', '76561198092150873', 'YieuwMage', 'Nfkted_CS',
       'A-Very-Sly-Person', '76561197994493402', '76561198065656175',
       '76561198188979775', '97396295', 'xoFushiox', '76561198126640317',
       'DemonicWolvz', 'DieMadchenschanderin', '76561198072706529',
       '76561198215949741', 'GGargula', 'Myther43', 'getf0kinn0sc0pedm9',
       '76561198141443390', '76561198031924053', '76561198097333029',
       'dominiclim99', 'whodafuqisthisguilao', '76561198072205329',
       'Icamebackbitches', 'Magjiikal', 'ohnospaghet',
       '76561198060062487', '76561198050347115', '2768820078',
       '76561198049968536', '76561198056392326', '2d4nk4m3',
       '76561198074003102', '76561198078478151', 'exiaez',
       'BURNINGchicken3', '76561198066835162', '76561198069593452',
       'undietaker', '76561198095921854', 'EizanAratoFujimaki',
       'POOTISSPENSOR', 'angorabug', 'TeCool', 'ZyhgarThestarweaver',
       '2xDelorean', 'washington_', '76561198088944293',
       '76561198061769804', '76561198051258119', '76561198065771371',
       'nubquake123', 'Pyromanic', '76561198109656922',
       '76561198149432604', 'Unplanned_stategy', 'CobRazor', 'relesprit',
       '76561198090294067', 'jimmyarcexd', 'talove112345',
       '76561198055094875', 'WitchHunter4542', '76561198203244300',
       'pwrt', 'wantmahbody', '76561198115868847',
       'benedictcuminherbatch', '76561198031207016', '76561198089077856',
       '76561198043458582', 'smashiroshh', 'shark854',
       '76561198062876401', '76561198011661078', 'PabloSanches',
       '76561197991074667', 'killbunny38', '76561198047630659',
       '76561198069713121', '1997-07-06_J077', '76561198076248461',
       '1337lolroflmao', '76561198080832419', '76561198151645088',
       'IAA_Recon_Dropbear', 'goonbagger', '76561198060039459',
       'OzfurAtlas', '76561198065593074', 'madmax64', '76561198044169764',
       'euzi', 'lucasrash', '76561198082845362', '76561198087767019',
       'thisissohardtomakeoneup', '76561198087010391', '66666669999999',
       '76561198061174192', 'DoaFapbeforeaNap', 'ReMiXOfficalSteam',
       'Wilfire77', '76561198042730234', '76561198069159579',
       '76561198086476445', '76561198085016240', '76561198060808273',
       '76561198084390807', '76561198003688205', 'Mastic', 'Scooterinooo',
       '76561198028286104', '76561198088447673', 'tarjla', 'deathnz1',
       'readingthis4noobs', 'SonicMCGamer', 'xXBoss1Xx',
       '76561198084698198', '76561198104393251', 'Borne901',
       '76561198075322986', 'redsncrimson', '76561198151910904',
       'H1DD3NT3RR0R', '76561198071214618', '76561198115115631',
       'sisiiik', '76561198071175142', 't8s', 'pikawuu2', 'Sammeh00',
       'godlike_bot', 'dpswaffles', 'NoObFiGHtEr', 'Michaelele',
       '76561198045754869', '76561198076098774', '76561198074963071',
       '76561198103253374', '76561198048417105', '76561197989175394',
       '76561198090842891', '76561198058706736', '76561198055767971',
       '76561197998052647', 'adohya343', '76561198145436942', '3xotic26',
       'iamthetrashlord', 'nothingheretrustme', '76561198071253729',
       '3dster', '76561198041808338', '76561198016685643',
       '76561198079990063', 'Forty-Nine', '76561198051017916', 'L4M1NAS',
       'emurphy8', '76561198096766604', 'Sephirical', '76561197995322437',
       'imsojipper', '76561198066840831', '76561198096220900',
       '76561198084542731', 'fullswag0to100realquick',
       '76561198102121026', '76561198103671881', 'mrpfresh', 'GamerFag',
       '76561197970628046', '76561198013858002', '76561198058570014',
       '76561198045133986', '76561198002820828', 'chidori_647',
       '76561198092227136', 'hellcat59', '76561198007584361',
       'tbimperator', 'Allahu_Akbar666', 'ulramite', '76561198080534850',
       '-GM-Dragon', 'LeoRocksAce', '76561198054040292',
       '76561198155458511', 'I_DID_911_JUST_SAYING', '76561198077035732',
       '76561198072625764', 'A_Je_100', 'imagoatieatpoo', '750805',
       '76561198080881726', 'Thatishayden', 'Flabbernackle',
       'diabeticfuck', 'magicalpony', '76561197962104795',
       '76561198054465623', '76561198074257942', 'aaropro', 'Aaron_ggf',
       'abiam', '76561198037346576', 'FrankoWalker', 'LightfootSword7',
       'DaDanMan', 'SALTTHEW0UND', 'express157', '76561198074644990',
       '76561198064304806', '3456457568', 'TomoeMamiewe',
       '76561198057086148', 'Acidius99', '76561198067150343', 'acorn13',
       'adamcookie', 'AddzyTheBaddzy', '76561197997824340',
       '76561198076154360', '76561198055524901', 'mradobe7', 'zomboy151',
       '76561198167207237', 'cancerkek', 'matto1499', '76561198073508075',
       '76561198090899557', '76561198072468669', 'Advancebest',
       'advenger95', 'EndAtHallow', '76561198060820384',
       '76561198063624801', 'aeryal', 'vault_brothers', 'After2night',
       '76561198029090446', '76561197968819541', '76561198015968275',
       'defender_10', 'Agiegamma', '76561198082614708',
       '76561198066465411', 'Agronoth', 'UnholyFallenAngel',
       'Ricardio556', 'madgamerzzz', '76561198068565589', 'SlutOnTheSpit',
       'WestyGaming', 'NaruseAiria', '76561198265081359',
       '76561198046844795', '76561198067713802', '76561198187212131',
       'rjh91', 'alansiulun', 'Albolah', '76561198003056556',
       '76561198063941075', '76561198088886304', 'maxpaynepillkiller',
       '76561198056092813', '76561198095481910', '76561198089024454',
       '76561198034129825', '76561198164545985', 'tninjat',
       '76561198068935240', '76561198036955150', '76561198018840908',
       'AlkalineDeath', '76561198075935236', 'Jupeter117', 'gsgg',
       '76561198075258452', 'Jesusunholy', 'mintifreshbadger', 'HenryCT',
       'AlpacaRevolution', '76561197996305896', 'AlphaBryn444',
       '76561198009001563', '76561198016753953', 'smegmyfoodle',
       'altas2011', 'silentbroadcaster', '76561198057869849',
       'lol_ursuchanoob', 'rhysf', '76561198098156489',
       '76561198040021446', '76561198035890730', 'AMV72',
       '76561198069170979', '76561198085956238', '76561198132540690',
       '711armageddoncarmageddon', '76561198058301224',
       '76561198055326484', '76561198034868596', 'AncientBlade',
       'Andraison', '76561198048401235', '76561198050465176',
       '76561198026258913', '76561198069560699', '76561198099625419',
       'someone6245', '76561198084032274', '76561198030772859',
       'Angrovar', 'AngryAinsley', '76561198069005048',
       '-AnimeIsMyThing-', 'uradumbtit', '76561198037038784',
       'IKillNoobsFirst', '76561198037888300', 'operationblueberry',
       '1234865654', 'antacy', '76561197992148038', '76561198084123358',
       '76561198034942509', '76561198032377745', 'capitaomurilao',
       'Apachehavoc', 'ApexNZ', '76561198039441595', '76561198036687918',
       'Apollopepsi', 'benjamin27', 'AppoGetsSuperAdmin', 'ARRIVE',
       '76561198071475367', 'r3ap3r78', 'Aquilares', '76561198065064829',
       'XABLAUziitu', '76561198012909706', 'aarcanicuss', 'dragonchief',
       '76561198040530605', '76561197974500703', '76561198047185525',
       'mestuajix2', '76561198067188826', 'ArcticTek',
       '76561197974465310', 'sweep6060', 'bilyitu', '76561198088538797',
       '76561198089844789', '76561198072861800', 'deployablearchnagel',
       'rotflmaoman', '76561198088670023', '76561198081028176',
       'ArmouredForBattle', 'armouredmarshmallow', 'darrenfordfalcon',
       '76561198020928326', '76561198045570160', 'arockstar28', 'Array71',
       '76561198039874575', 'arronlim13', '76561198042389215',
       '76561198006534186', 'artej96', 'ARTHERDUNGER10', 'Mackus1011',
       '76561198041877981', 'ARZARNAR', '76561198089950447',
       'darkmassieh', 'Boomblasty', 'asianturtlefrenzy', 'Edmund28',
       'blowjobsfurdayzandgayz', '76561198082992295', 'LaLocaDeLosDulces',
       '76561198096064761', '76561198064352761', 'assassin_warman',
       '76561198019431054', 'Astrelt', 'bobjimmy007', '76561198091740831',
       '76561198095380303', '76561198052003136', 'omgihaveawebpage',
       'Swish0009', '76561198030943851', 'Aurora99', '76561198053071988',
       'minionking', '76561198083375450', 'scroopy22'], dtype=object)

In [2037]:
# Si por ejemplo: 
User_id = "Aurora99"

In [2038]:
# Filtrar por usuario específico:
df_user_specific = data_user[data_user["user_id"] == User_id]

In [2039]:
# Filtrar valores numéricos de price
df_numerico = data_user[data_user["user_id"].str.isnumeric()]  

# Calcular la suma por usuario
total_dinero_por_usuario = df_numerico.groupby("user_id")["price"].sum()

In [2040]:
# Se calcula la cantidad de dinero gastado por usuario
total_dinero_por_usuario.tail(6)

user_id
76561198187212131    109.0
76561198188979775    150.0
76561198203244300    276.0
76561198215949741      6.0
76561198265081359    160.0
97396295             169.0
Name: price, dtype: float64

In [2041]:
# Valores únicos de la columna recommend:
data_user["recommend"].unique()

array([ True, False])

In [2042]:
# Cantidad de recommend en % por usuario:
user_grouped = (
    data_user.groupby("user_id")["recommend"]
    .apply(lambda x: (x == True).mean() * 100)  # Calculate percentage
    .reset_index(name="recommend_true_porcentaje")
)

In [2043]:
# Cantidad de Items por usuario:
user_counts = (
    data_user.groupby("user_id")
    .size()  # Count items per user
    .to_frame(name="items_count")
    .reset_index()
)

In [2044]:
# Segunda consulta:
def UserData(User_id: str) -> dict: 
    ''' Se ingresa el Usuario por id y la función retorna el Cantidad de dinero gastado, Porcentaje de recomendación y Cantidad de Items '''
    
    df_user_specific = data_user[data_user["user_id"] == User_id]

    # Handle empty DataFrame gracefully
    if df_user_specific.empty:
        return {
            "Cantidad dinero gastado": None,
            "Porcentaje de Recomendación": None,
            "Cantidad de items": None
        }

    total_dinero_por_usuario = df_user_specific.groupby("user_id")["price"].sum()
    user_grouped = (
        data_user.groupby("user_id")["recommend"]
        .apply(lambda x: (x == True).mean() * 100)
        .reset_index(name="recommend_true_porcentaje")
    )
    user_counts = (
        data_user.groupby("user_id")
        .size()
        .to_frame(name="items_count")
        .reset_index()
    )

    # Utilice try-except para posibles errores de índice:
    try:
        total_spent = total_dinero_por_usuario.iloc[0]
    except IndexError:
        total_spent = None

    try:
        recommend_percentage = user_grouped[user_grouped["user_id"] == User_id]["recommend_true_porcentaje"].iloc[0]
    except IndexError:
        recommend_percentage = None

    try:
        items_count = user_counts[user_counts["user_id"] == User_id]["items_count"].iloc[0]
    except IndexError:
        items_count = None

    output_m = {
        "Usuario": User_id,
        "Cantidad dinero gastado en USD": total_spent,
        "Porcentaje de Recomendación": f"{recommend_percentage:.1f}",
        "Cantidad de items": items_count
    }

    return output_m

In [2045]:
UserData("Aurora99")

{'Usuario': 'Aurora99',
 'Cantidad dinero gastado en USD': 1225.0,
 'Porcentaje de Recomendación': '91.2',
 'Cantidad de items': 136}

In [2046]:
UserData("js41637")

{'Usuario': 'js41637',
 'Cantidad dinero gastado en USD': 7910.5,
 'Porcentaje de Recomendación': '85.5',
 'Cantidad de items': 888}

In [2047]:
UserData("76561198187212131")

{'Usuario': '76561198187212131',
 'Cantidad dinero gastado en USD': 109.0,
 'Porcentaje de Recomendación': '96.6',
 'Cantidad de items': 29}

In [2048]:
UserData("scroopy22")

{'Usuario': 'scroopy22',
 'Cantidad dinero gastado en USD': 2337.0,
 'Porcentaje de Recomendación': '91.9',
 'Cantidad de items': 309}

Consulta 3: def UserForGenre( genero : str ): Debe devolver el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento.
Ejemplo de retorno: {"Usuario con más horas jugadas para Género X" : us213ndjss09sdf, "Horas jugadas":[{Año: 2013, Horas: 203}, {Año: 2012, Horas: 100}, {Año: 2011, Horas: 23}]}

In [2049]:
# user_id, playtime_forever, genres, year
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74837 entries, 0 to 74836
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   genres            74837 non-null  object
 1   year              74837 non-null  object
 2   id                74837 non-null  int64
 3   user_id           74837 non-null  object
 4   playtime_forever  74837 non-null  int64
dtypes: int64(2), object(3)
memory usage: 2.9+ MB

In [2050]:
# Cuántos géneros existen en la dataframe?
df_3["genres"].unique()

array(['Action', 'Casual', 'Indie', 'Simulation', 'Strategy',
       'Free to Play', 'RPG', 'Sports', 'Adventure', '0', 'Racing',
       'Early Access', 'Massively Multiplayer',
       'Animation &amp; Modeling', 'Video Production', 'Utilities',
       'Web Publishing', 'Education', 'Software Training',
       'Design &amp; Illustration', 'Audio Production', 'Photo Editing',
       'Accounting'], dtype=object)

In [2051]:
# Cuántos en número
df_3["genres"].nunique()

23

In [2052]:
# Data de Genre
data_gen = df_3[["genres", "year", "user_id", "playtime_forever"]]

In [2053]:
# Extraer year
filtered_df = df_3.dropna(subset=["year"])

In [2054]:
year_solo = df_3["year"].str[:4]

In [2055]:
# Ligar a la data de gen con nuevo nombre
data_gen["year_only"] = year_solo

In [2056]:
# Incluir
selected_columns = ["genres", "playtime_forever", "user_id"]
data_gen_final = pd.concat([year_solo.rename("year_only"), df_3[selected_columns]], axis=1)

In [2057]:
# Data con year numérico
data_gen_final["year_only"] = pd.to_numeric(data_gen_final["year_only"], errors="coerce")

In [2058]:
data_gen_final["year_only"].unique()

array([2018., 2017.,   nan, 1997., 1998., 2016., 2006., 2005., 2003.,
       2007., 2002., 2000., 1995., 1996., 1994., 2001., 1993., 2004.,
       1999., 2008., 2009., 1992., 1989., 2010., 2011., 2013., 2012.,
       2014., 1983., 1984., 2015., 1990., 1988., 1991., 1985., 1982.,
       1987., 1981., 1986., 2021., 2019., 1975., 1970., 1980.])

In [2059]:
# Rellenar los NaNs
data_gen_final["year_only"] = data_gen_final["year_only"].fillna(-1)  # Rellenar con -1 (para evitar problemas XD)

In [2060]:
# Ahora a convertir los tipos de datos:
data_gen_final = data_gen_final.astype({"genres": str, "year_only": int, "playtime_forever": int, "user_id": str})

In [2061]:
data_gen_final.head(2)

   year_only  genres  playtime_forever            user_id
0       2018  Action                 6  76561197970982479
1       2018  Casual                 0  76561197970982479

In [2062]:
# Generar una lista de los géneros
genres_list = data_gen_final["genres"].unique().tolist()
for genero in genres_list:
    print(genero)

Action
Casual
Indie
Simulation
Strategy
Free to Play
RPG
Sports
Adventure
0
Racing
Early Access
Massively Multiplayer
Animation &amp; Modeling
Video Production
Utilities
Web Publishing
Education
Software Training
Design &amp; Illustration
Audio Production
Photo Editing
Accounting

In [2063]:
# Género si se introduce con minúscula, funcione igual:
genre_data = data_gen_final[data_gen_final["genres"].str.lower() == genero]

In [2064]:
# Calcular la suma total de horas jugadas por usuario y género
user_genre_playtime = data_gen_final.groupby(["user_id", "genres"])["playtime_forever"].sum().reset_index()

# Encontrar el usuario que acumula más horas jugadas por género
max_playtime_per_genre = user_genre_playtime.loc[user_genre_playtime.groupby("genres")["playtime_forever"].idxmax()]

# Imprimir o trabajar con los resultados
max_playtime_per_genre.head(2)

           user_id      genres  playtime_forever
6224  StelerForYou           0            175944
5307   EndAtHallow  Accounting              1805

In [2065]:
# Lista de usuarios
user_id_data = data_gen_final[data_gen_final["user_id"] == User_id]
user_id_data.head(2)

       year_only genres  playtime_forever   user_id
58449       2015  Indie              1170  Aurora99
58450       2015    RPG               134  Aurora99

In [2066]:
# Calcular la suma total de horas jugadas por año
playtime_per_year = data_gen_final.groupby(["user_id", "year_only"])["playtime_forever"].sum().reset_index()

playtime_per_year.head(2)

            user_id  year_only  playtime_forever
0  -AnimeIsMyThing-         -1             10193
1  -AnimeIsMyThing-       2012               536

In [2067]:
# Tercera Consulta:
def UserForGenre(genero: str):

    ''' Se ingresa algún Género y la función devuelve el Usuario con más horas de juego acumuladas 
        y la lista de horas de juego acumuladas por Año de Lanzamiento'''
    
    # Género si se introduce con minúscula, que funcione igual:
    genre_data = data_gen_final[data_gen_final["genres"].str.lower() == genero]

    # Verificar si el género está presente en el DataFrame
    if genero not in data_gen_final["genres"].str.lower().unique():
        return {"Error": f"El género '{genero}' no se encuentra en el conjunto de datos."}

    # Calcular la suma total de horas jugadas por usuario y género
    user_genre_playtime = data_gen_final.groupby(["user_id", "genres"])["playtime_forever"].sum().reset_index()

  #1   # Encontrar el usuario que acumula más horas jugadas por género
    max_playtime_per_genre = user_genre_playtime.loc[user_genre_playtime.groupby("genres")["playtime_forever"].idxmax()]

  #2  # Calcular la suma total de horas jugadas por año y por usuario
    playtime_per_year = data_gen_final.groupby(["user_id", "year_only"])["playtime_forever"].sum().reset_index()


    # Crear una lista de diccionarios con años y horas jugadas para cada año
    horas_por_agno = []

    available_years = playtime_per_year.loc[playtime_per_year["user_id"] == max_playtime_per_genre, "year_only"].unique()

    for year in available_years:
        horas_año = playtime_per_year[(playtime_per_year["user_id"] == max_playtime_per_genre) & (playtime_per_year["year_only"] == year)]["playtime_forever"].sum()
        if horas_año > 0:
            horas_por_agno.append({'Año': int(year), 'Horas': int(horas_año)})

        
    # Construir el diccionario final
    user_gnr_result = {
        f"Usuario con más horas jugadas para Género {genero}": max_playtime_per_genre,
        "Horas jugadas": horas_por_agno
    }
    return user_gnr_result

In [2068]:
UserForGenre("Action")

{'Error': "El género 'Action' no se encuentra en el conjunto de datos."}

In [2069]:
UserForGenre("Adventure")

{'Error': "El género 'Adventure' no se encuentra en el conjunto de datos."}

In [2070]:
UserForGenre("Free to play")

{'Error': "El género 'Free to play' no se encuentra en el conjunto de datos."}

Consulta 4: def best_developer_year( año : int ): Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)
Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [2071]:
# Información de
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price        59305 non-null  object
 1   id           59305 non-null  int64
 2   user_id      59305 non-null  object
 3   items_count  59305 non-null  int64
 4   item_name    59305 non-null  object
 5   recommend    59305 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 2.3+ MB

In [2072]:
# Información de
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   developer  59305 non-null  object
 1   year       59305 non-null  object
 2   id         59305 non-null  int64
 3   user_id    59305 non-null  object
 4   recommend  59305 non-null  bool
dtypes: bool(1), int64(1), object(3)
memory usage: 1.9+ MB

In [2073]:
# Ver info de 
df_5.info() # Sumarle year y sentiment_analysis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   developer           59305 non-null  object
 1   id                  59305 non-null  int64
 2   user_id             59305 non-null  object
 3   sentiment_analysis  59305 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.8+ MB

In [2074]:
# Unión de item_name que se olvidó en las combinaciones anteriores
df_unido_2_5 = pd.merge(df_2[["item_name"]],
                         df_5[["sentiment_analysis", "user_id", "id", "developer"]],
                      left_index=True, right_index=True)

In [2075]:
# Archivo final para trabajar con desarrollador y juegos recomendados
df_unido_best = pd.merge(df_4[["year", "recommend"]],
                         df_unido_2_5[["sentiment_analysis", "item_name", "user_id", "id", "developer"]],
                      left_index=True, right_index=True)
df_unido_best.head(2)

,year,recommend,sentiment_analysis,item_name,user_id,id,developer
0,2018-01-01 00:00:00,True,2,Counter-Strike,76561197970982479,761140,Kotoshiro
1,2018-01-01 00:00:00,True,2,Team Fortress Classic,76561197970982479,761140,Kotoshiro

In [2076]:
# Extraer year
year_best = df_unido_best["year"].str[:4]

In [2077]:
# Ligar a la data de best con nombre nuevo
df_unido_best["year_soli"] = year_best

In [2078]:
# Incluir
selected_column_best = ["recommend", "item_name", "sentiment_analysis", "user_id", "id", "developer"]
data_best_final = pd.concat([year_best.rename("year_soli"), df_unido_best[selected_column_best]], axis=1)

In [2079]:
# Data con year numérico
data_best_final["year_soli"] = pd.to_numeric(data_best_final["year_soli"], errors="coerce")

In [2080]:
data_best_final["year_soli"].unique()

array([2018., 2017.,   nan, 1997., 1998., 2016., 2006., 2005., 2003.,
       2007., 2002., 2000., 1995., 1996., 1994., 2001., 1993., 2004.,
       1999., 2008., 2009., 1992., 1989., 2010., 2011., 2013., 2012.,
       2014., 1983., 1984., 2015., 1990., 1988., 1991., 1985., 1982.,
       1987., 1981., 1986., 2021., 2019., 1975., 1970., 1980.])

In [2081]:
# Rellenar los NaNs
data_best_final["year_soli"] = data_best_final["year_soli"].fillna(-1)  # Rellenar con -1 (para evitar problemas XD)

In [2082]:
# Información de
data_best_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59305 entries, 0 to 59304
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year_soli           59305 non-null  float64
 1   recommend           59305 non-null  bool
 2   item_name           59305 non-null  object
 3   sentiment_analysis  59305 non-null  int64
 4   user_id             59305 non-null  object
 5   id                  59305 non-null  int64
 6   developer           59305 non-null  object
dtypes: bool(1), float64(1), int64(2), object(3)
memory usage: 2.8+ MB

In [2083]:
# Ahora a convertir los tipo de datos:
data_best_final = data_best_final.astype({"year_soli": int, "recommend": bool, 
                                          "item_name": str, "sentiment_analysis": int, "user_id": str, "id": int, "developer": str})

In [2084]:
data_best_final.head(10)

,year_soli,recommend,item_name,sentiment_analysis,user_id,id,developer
0,2018,True,Counter-Strike,2,76561197970982479,761140,Kotoshiro
1,2018,True,Team Fortress Classic,2,76561197970982479,761140,Kotoshiro
2,2018,True,Day of Defeat,2,76561197970982479,761140,Kotoshiro
3,2018,True,Deathmatch Classic,2,js41637,761140,Kotoshiro
4,2018,True,Half-Life: Opposing Force,2,js41637,761140,Kotoshiro
5,2018,True,Ricochet,2,js41637,643980,Secret Level SRL
6,2018,True,Half-Life,0,evcentric,643980,Secret Level SRL
7,2018,True,Half-Life: Blue Shift,2,evcentric,643980,Secret Level SRL
8,2018,True,Day of Defeat: Source,2,evcentric,643980,Secret Level SRL
9,2017,True,Counter-Strike: Source,1,evcentric,670290,Poolians.com

In [2085]:
# Se escoge un año para pruebas
year_demo = 2002
# Se filtra el DataFrame para el año dado
year_data = data_best_final[(data_best_final["year_soli"] == year_demo) & (data_best_final["sentiment_analysis"] == 2)]

In [2086]:
# Se obtienen los 3 principales desarrolladores con más juegos recomendados por usuarios
top_developers = year_data.groupby("developer").size().nlargest(3)
top_developers

developer
0                      7
Digital Fusion Inc.    3
Croteam                2
dtype: int64

In [2087]:
# Se construye el diccionario con el resultado
result_desarr = [{"Puesto 1": top_developers.index[0]}, {"Puesto 2": top_developers.index[1]}, {"Puesto 3": top_developers.index[2]}]
result_desarr

[{'Puesto 1': '0'},
 {'Puesto 2': 'Digital Fusion Inc.'},
 {'Puesto 3': 'Croteam'}]

In [2088]:
# Cuarta Consulta:
def TopDeveloper(year_demo: int): 
    
    ''' Se ingresa el Año y la función entrega el top 3 de desarrolladores con más recomendaciones por usuario '''

    # Se filtra el DataFrame para el año dado
    year_data = data_best_final[(data_best_final["year_soli"] == year_demo) & (data_best_final["sentiment_analysis"] == 2)]

    # Se obtienen los 3 principales desarrolladores con más juegos recomendados por usuarios
    top_developers = year_data.groupby("developer").size().nlargest(3)

    # Se construye el diccionario con el resultado
    result_desarr = {"Puesto 1": top_developers.index[0]}, {"Puesto 2": top_developers.index[1]}, {"Puesto 3": top_developers.index[2]}

    return result_desarr

In [2089]:
TopDeveloper(2016)

({'Puesto 1': 'SmiteWorks USA, LLC'},
 {'Puesto 2': 'Ubisoft - San Francisco'},
 {'Puesto 3': 'DL Softworks'})

In [2090]:
TopDeveloper(2000)

({'Puesto 1': '0'},
 {'Puesto 2': 'Digital Fusion Inc.'},
 {'Puesto 3': 'Humongous Entertainment'})

In [2091]:
TopDeveloper(2010)

({'Puesto 1': 'SEGA'}, {'Puesto 2': '0'}, {'Puesto 3': 'baKno Games'})

Consulta 5: def developer_reviews_analysis( desarrolladora : str ): Según el desarrollador, se devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor positivo o negativo.
Ejemplo de retorno: {'Valve' : [Negative = 182, Positive = 278]}
''' Se ingresa un nombre de desarrollador y la función devuelve un diccionario con la cantidad de registros de reseñas de usuarios
con análisis de sentimientos, negativo o positivo'''

In [2092]:
# Para esta última consulta, utilizaremos la misma data anterior
data_best_final.tail(500)

,year_soli,recommend,item_name,sentiment_analysis,user_id,id,developer
58805,2015,True,Arma 2: Operation Arrowhead,2,76561198141079508,416710,Cliffhanger Productions
58806,2015,True,Arma 2: Operation Arrowhead Beta (Obsolete),2,76561198141079508,416710,Cliffhanger Productions
58807,2015,True,ArcaniA,2,76561198141079508,416713,Cliffhanger Productions
58808,2015,True,Gothic 3,2,76561198141079508,416713,Cliffhanger Productions
58809,2015,True,Gothic II: Gold Edition,2,76561198141079508,416713,Cliffhanger Productions
...,...,...,...,...,...,...,...
59300,2015,True,Shadow Warrior,2,76561198312638244,418960,Anima Locus
59301,2015,True,Viscera Cleanup Detail: Shadow Warrior,2,76561198312638244,418960,Anima Locus
59302,2015,True,Ring Runner: Flight of the Sages,2,LydiaMorley,418960,Anima Locus
59303,2015,True,Clickr,2,LydiaMorley,418960,Anima Locus
59304,2015,True,Borderlands 2,2,LydiaMorley,345680,ViewApp

In [2093]:
# Se selecciona un desarrollador para probar la función
desa_demo = "Kotoshiro"
# Se filtra el DataFrame por el desarrollador dado
developer_data_sent = data_best_final[data_best_final["developer"] == desa_demo]

In [2094]:
# Se obtiene el recuento de análisis de sentimiento 0: negativo; 1: neutral, 2: positivo (si está ausente la reseña, es 1)
sentiment_counts = data_best_final["sentiment_analysis"].value_counts()
sentiment_counts

sentiment_analysis
2    40227
1    10555
0     8523
Name: count, dtype: int64

In [2095]:
# Se prueba la salida con el conteo de sentimiento negativo o positivo
result_sent_desar = {desa_demo: [f"Negativo = {sentiment_counts.get(0, 0)}", f"Positivo = {sentiment_counts.get(2, 0)}"]}
result_sent_desar

{'Kotoshiro': ['Negativo = 8523', 'Positivo = 40227']}

In [2096]:
# Quinta Consulta:
def devel_reviews_analys(desarrollador_sent: str):
    ''' Se ingresa un nombre de desarrollador y la función devuelve un diccionario con la cantidad de registros de reseñas de usuarios
    con análisis de sentimientos, negativo o positivo'''

    # Se filtra el DataFrame por el desarrollador dado
    developer_data_sent = data_best_final[data_best_final["developer"] == desarrollador_sent]
    # Se obtiene el recuento de análisis de sentimiento 0: negativo; 1: neutral, 2: positivo (si está ausente la reseña, es 1)
    sentiment_counts = data_best_final["sentiment_analysis"].value_counts()
    # Se prueba la salida con el conteo de sentimiento negativo o positivo
    result_sent_desar = {desarrollador_sent: [f"Negativo = {sentiment_counts.get(0, 0)}", f"Positivo = {sentiment_counts.get(2, 0)}"]}
    return result_sent_desar

In [2097]:
devel_reviews_analys("Kotoshiro")

{'Kotoshiro': ['Negativo = 8523', 'Positivo = 40227']}

In [2098]:
devel_reviews_analys("iWin")

{'iWin': ['Negativo = 8523', 'Positivo = 40227']}

In [2099]:
devel_reviews_analys("Anima Locus")

{'Anima Locus': ['Negativo = 8523', 'Positivo = 40227']}

In [2100]:
# Guardar dataframes data_dev a parquet
#data_dev.to_parquet("data_dev.parquet")
#data_user.to_parquet("data_user.parquet")
#data_gen_final.to_parquet("data_gen_final.parquet")
#data_best_final.to_parquet("data_best_final.parquet")